<p  class='login'> <%=link_to 'login with otp' ,login_otp_path%></p><br/>
<p class='login'> <%=link_to 'login with password' ,login_path%></p>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5211866546894580"
     crossorigin="anonymous"></script>